---
- name: Verify Ansible versions
  hosts: all
  tags: always
  become: false
  run_once: true
  gather_facts: false
  tasks:
    - local_action: command ./versioncheck.py
      changed_when: false

- name: Configure Nim-Waku Nodes
  hosts:
    - nim-waku-connect
  roles:
    - { role: open-ports, tags: open-ports }
    - { role: swap-file,  tags: swap-file }
    - { role: certbot,    tags: certbot }
    - { role: nim-waku,   tags: nim-waku }

- name: Configure Go-Waku Nodes
  hosts:
    - go-waku-connect
  roles:
    - { role: open-ports, tags: open-ports }
    - { role: swap-file,  tags: swap-file }
    - { role: certbot,    tags: certbot }
    - { role: go-waku,    tags: go-waku }
